p {
    color: rgb(20, 34, 230);
    background-color: rgb(134, 170, 194);
    font-size: 1.5em;
    font-family: "Comic Sans MS", cursive;
    padding: 10px;
    
}
.lalala {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   border: 5px solid darkblue;
}
.cof {
   
    border-radius: 15px;
    border: 5px solid darkblue;
}
.pppp {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   border: 5px solid darkblue;
}
#ffff {
   background: rgb(134, 170, 194);
}
#sof {
    background-color:rgb(134, 170, 194);
}
body{
    text-align: left;
    font-size: 20px;
}